%h2 New GSI Account

= form_tag instructors_path do
    = label :instructor, :name, 'Name:'
    %br
    = text_field :instructor, 'name', id: 'name', required: true
    %p
    = label :instructor, :email, 'E-mail Address:'
    %br
    = text_field :instructor, 'email', id: 'email', required: true
    %p
    = label :instructor, :password, 'Password: '
    %br
    = password_field :instructor, 'password', id: 'password', required: true
    %p
    = label :instructor, :secretpass, 'Secret Password: '
    %br
    = password_field :instructor, 'secretpass', id: 'secretpass', required: true
    %p
    = submit_tag 'Create New Account', data: { disable_with: "Please wait..." }