= "Name: #{@instructor.name}"
%br
="Email: #{@instructor.email}" 


%h2 Student Teams
%table
  %tbody
    - @student_teams.each do |student_team|
      %tr
        = link_to "#{student_team.name}", "/student_teams/#{student_team.id}"
    