%h2 New Project

= form_tag projects_path do
    = label :project, :title, 'Title'
    %br
    = text_field :project, 'title', id: 'project-title', required: true
    %br
    = label :project, :content, 'Content'
    %br
    = text_area :project, 'content', id: 'project-content', required: true
    %br
    = submit_tag 'Submit Project', data: { disable_with: "Please wait..." }