#container.profile

  =render partial: "main/profile_login"
  
  =render partial: "student_teams/student_information"
  
  #profile-right

    %h2 Reset Password
    
    = form_tag("/student_teams/#{@student_team.id}/reset_password", method: :post) do
      
      = label :student_team, :old_password, 'Old Password:'
      %br
      = password_field :student_team, 'old_password'
      %p
      = label :student_team, :new_password, 'New Password:'
      %br
      = password_field :student_team, 'new_password'
      %p
      = label :student_team, :confirm_new_password, 'Confirm New Password:'
      %br
      = password_field :student_team, 'confirm_new_password'
      %p
      = submit_tag 'Rest Password', data: { disable_with: "Please wait..." }