%h2 Student Team Information

= "Name: #{@student_team.name}"
%br
= "Email: #{@student_team.email}" 
%br
= "GSI: #{@gsi.name}"
%br
= "GSI Email: #{@gsi.email}" 
%br

%h2 Project Information

= "Project name: #{@project.title}"
%br
= "Project Content:" 
%br
= "#{@project.content}"
%br
=link_to("GitHub Repository", @student_team.github_link)
%br
=link_to("Heroku Deployment", @student_team.heroku_link)
%br
=link_to("CodeClimate Analysis", @student_team.codeclimate_link)
%br
=link_to("Pivotal Tracker", @student_team.pivotal_link)
%p
=link_to("Edit Profile Page", edit_student_team_path(@student_team))

%h2 Iterations
- @iterations.each do |iteration|
  .iteration
    %h3=iteration.iteration_string
    %p
    %strong Date: 
    ="#{iteration.created_at_string}"
    %p
    %strong User Stories:
    %br
    =iteration.user_stories
    %p
    %strong Comments:
    %br
    =iteration.comments
    
- if @is_instructor
  = form_tag "/student_teams/#{@student_team.id}/assign" do
    = label :assign, :project, 'Project to assign:'
    %br
    = text_field :assign, 'project', id: 'assign to project'
    %p
    = label :assign, :instructor, 'Project to assign:'
    %br
    = text_field :assign, 'instructor', id: 'assign to instructor'
    %p
    = submit_tag 'Assign', id: 'Assign'
