#container.profile

  =render partial: "main/profile_login"
  
  =render partial: "student_teams/student_information"
    
  #profile-right
    
    %h2 Iterations
    - if @project.id
      - @iterations.each do |iteration|
        .iteration
          %h3=iteration.iteration_string
          %p
          %strong Date: 
          ="#{iteration.created_at_string}"
          %p
          %strong User Stories:
          %br
          =iteration.user_stories
          %p
          %strong Student Comments:
          %br
          =iteration.comments
          %p
          - if iteration.instructor_grades
            %strong= "Grade: #{iteration.instructor_grades}/100"
          %p
          - if iteration.instructor_comments
            %strong Instructor Comments:
            %br
            =iteration.instructor_comments
            %p
          - if @is_instructor
            - if iteration.instructor_private_comments
              %strong Private Comments:
              %br
              =iteration.instructor_private_comments
              %p
            = form_tag "/student_teams/#{@student_team.id}/add_gsi_comments/#{iteration.id}/" do
              = label :grades_and_comments, :grades, 'Grade to Assign:'
              %br
              = number_field :grades_and_comments, 'grades', id: 'grades'
              %p
              = label :grades_and_comments, :comments, 'Public Comments:'
              %br
              = text_area :grades_and_comments, 'comments', id: 'comments'
              %p
              = label :grades_and_comments, :private_comments, 'Private Comments:'
              %br
              = text_area :grades_and_comments, 'private_comments', id: 'comments'
              %p
              = submit_tag 'Submit', id: 'submit grades and comments', data: { disable_with: "Please wait..." }
      - if @can_edit_profile
        = link_to("Submit Iteration", "/student_teams/#{@student_team.id}/submit_story")
    - else
      - if @is_instructor
        = form_tag "/student_teams/#{@student_team.id}/assign" do
          = label :assign, :project, 'Project to assign:'
          %br
          = text_field :assign, 'project', id: 'assign to project'
          %p
          = label :assign, :instructor, 'Instructor to assign:'
          %br
          = text_field :assign, 'instructor', id: 'assign to instructor'
          %p
          = submit_tag 'Assign', id: 'Assign', data: { disable_with: "Please wait..." }
      - else
        %h3 You have not yet been assigned a project.
