#form_content
    
    %h3 Login
    
    = form_tag "/login" do
        = label :login_form, :username, "Username:"
        %br
        = text_field :login_form, 'username', id: 'username'
        %p
        = label :login_form, :password, 'Password:'
        %br
        = password_field :login_form, 'password', id: 'password'
        %p
        = submit_tag 'Login', data: { disable_with: "Please wait..." }